@media screen and (max-width: 620px){
  
main{
    background-color: white;
    height: 400px;
    width: 320px;
    box-shadow: 10px 25px 1px rgba(0, 0, 0, 0.459) ;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
}

div img{
    width: 70%;
    height: 70%;
}

#boa{
    margin-top: 50px;
}

footer{
    margin-top: 15px;
}

}